*{
    padding: 0;
    margin: 0;
}
body {
    text-align: left;
    font-size: 20px;
    width: 70%;
    margin-left: 20%;
    /* background-color: white;
    color: black; */
}
main {
    width: 80%;
}
nav {
    margin-bottom: 10px;
}
ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}
p {
    letter-spacing: normal;
    line-height: 1.7em;
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
    margin-top: 10px;
}
/* .codeBlock {

 
} */
.night {
    background-color: rgb(72, 72, 151);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
}
.day {
    background-color: rgb(255, 255, 122);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: black;
}
.nightMode {
    background-color: black;
    color: white;
}
.nightMode h3 {
    color: yellow;
}
.nightMode span {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}
.dayMode {
    background-color: white;
    color: black;
}
.dayMode h3 {
    color: rgb(117, 117, 253);
}
.dayMode span {

    background-color: rgb(224, 222, 222);
    border-radius: 5px;
}
